###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_SLOW_CONTROL
	comment "No additional options for SLOW_CONTROL"

# 	config APPS_SLOW_CONTROL_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
