###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_SK2_SC_BITBANG_V2
	comment "No additional options for SK2_SC_BITBANG_V2"

# 	config APPS_SK2_SC_BITBANG_V2_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
